.box{
    -fx-background-color:  #3B3F34;
    -fx-border-color:  #E9FAC8;
    -fx-border-radius: 26px;
    -fx-background-radius: 26px;
    -fx-border-width: 5px;
    -fx-text-fill: #E9FAC8;
}
.box2{
    -fx-background-color:  #9BFE03;
    -fx-border-radius: 26px;
    -fx-border-width: 5px;
    -fx-text-fill: #3B3F34;
    -fx-background-radius :26px;
}